<form method="post">
    <textarea id="input_box" name="input_box" rows="10" cols="90" placeholder="Enter text here">{{text}}</textarea>
    <br>
    <input type="submit" value="Translate to English">
</form>