<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Translator</title>
    <link rel="stylesheet" type="text/css" href="/css/base.css">
</head>

<body>

<div id="website_title">
    <h1>Translator</h1>
</div>

<div id="page_content">
    {{{body}}}
</div>

</body>

</html>