<table>
    <thead>
        <tr>
            <td>Original Text</td>
            <td>Language</td>
            <td>English Translation</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="textCol">{{this.inputText}}</td>
            <td class="languageCol">{{this.inputLanguage}}</td>
            <td class="textCol">{{this.outputText}}</td>
        </tr>
    </tbody>
</table>

<form method="post">
    <br>
    <input type="submit" value="Return">
</form>